/* Fuente utilizada */

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');*/

@import url("https://fonts.googleapis.com/css2?family=Roboto");
html,
body,
html * {
    font-family: "Roboto", sans-serif;
}

th {
    font-size: 17px;
}

/* ====================================================
Paleta de colores para todo SIGAB
==================================================== */

/* ------------------------
Colores de fondo
------------------------ */

.bg-rojo-oscuro {
    background-color: #990000 !important;
}

.bg-rojo-medio {
    background-color: #aa1816 !important;
}

.bg-rojo-claro {
    background-color: #e3302d !important;
}

.bg-gris-oscuro {
    background-color: #2d2d2d !important;
}

.bg-gris-medio {
    background-color: #585757 !important;
}

.bg-gris-claro {
    background-color: #e6e6e6 !important;
}

.bg-azul-una {
    background-color: #034991 !important;
}

/* ------------------------
Colores de Letras
------------------------ */

.texto-rojo-oscuro {
    color: #990000 !important;
}

.texto-rojo-medio {
    color: #aa1816 !important;
}

.texto-rojo-claro {
    color: #e3302d !important;
}

.texto-gris-oscuro {
    color: #2d2d2d !important;
}

.texto-gris-medio {
    color: #585757 !important;
}

.texto-gris-claro {
    color: #e6e6e6 !important;
}

.texto-azul-una {
    color: #034991 !important;
}

/* ------------------------
Colores de botones
------------------------ */

/* ********************
Botones rellenos
******************** */

.btn-rojo {
    background-color: #990000 !important;
    border-color: #990000 !important;
    color: #ffffff !important;
}

.btn-rojo:hover {
    background-color: #e3302d !important;
    border-color: #e3302d !important;
}

.btn-rojo.active {
    background-color: #e3302d !important;
    border-color: #e3302d !important;
}

.btn-gris {
    background-color: #2d2d2d !important;
    border-color: #2d2d2d !important;
    color: #ffffff !important;
}

.btn-gris:hover {
    background-color: #585757 !important;
    border-color: #e6e6e6 !important;
}

.btn-azul-una {
    background-color: #034991 !important;
    color: #ffffff !important;
    border-color: #034991 !important;
}

.btn-azul-una:hover {
    background-color: #176cc2 !important;
    border-color: #176cc2 !important;
    color: #ffffff !important;
}

/* ***********************
Botones contorno (outline)
************************** */

.btn-contorno-rojo:disabled {
    background-color: #585757 !important;
    border-color: #585757 !important;
    color: #ffffff !important;
}

.btn-contorno-rojo {
    transition: all 0.4s ease;
    background-color: #ffffff !important;
    border-color: #aa1816 !important;
    color: #aa1816 !important;
}

.btn-contorno-rojo:hover {
    background-color: #aa1816 !important;
    color: #ffffff !important;
}

.btn-contorno-rojo.active {
    background-color: #aa1816 !important;
    border-color: #000000 !important;
    color: #ffffff !important;
}

.btn-contorno-gris {
    transition: all 0.4s ease;
    background-color: #ffffff !important;
    border-color: #2d2d2d !important;
    color: #2d2d2d !important;
}

.btn-contorno-gris:hover {
    background-color: #2d2d2d !important;
    color: #ffffff !important;
}

.btn-contorno-azul-una {
    transition: all 0.4s ease;
    border-color: #034991 !important;
    background-color: #ffffff !important;
    color: #034991 !important;
}

.btn-contorno-azul-una:hover {
    background-color: #034991 !important;
    color: #ffffff !important;
}

/* Sombra mostrada cuando un boton está seleccionado */

.btn:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(221, 93, 93, 0.6);
}
.btn-sombreado-azul:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(3, 73, 144, 0.6);
}

/* ***********************
Botones de paginación
************************** */

.page-item.active .page-link {
    color: #ffffff !important;
    background-color: #aa1816 !important;
    border: #e3302d !important;
    box-shadow: -1px 0px 26px -8px rgba(0, 0, 0, 0.75);
}

.page-link {
    transition: all ease-in-out 500ms;
    color: #990000 !important;
}

.page-link:hover {
    background-color: #e6e6e6 !important;
    position: relative;
    bottom: 3px;
}

/* ====================================================
Fin de la paleta de colores
 ==================================================== */

.sombra {
    box-shadow: 0px 2px 19px -5px rgba(0, 0, 0, 0.2);
}

.link-inicio-contenedor {
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-inicio:hover {
    color: #034991;
}

.form-control:focus {
    border-color: rgba(204, 204, 204, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(204, 204, 204, 0.6);
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.far {
    cursor: pointer;
}

.obligatorio {
    color: rojo;
}

.numero-notificaciones {
    color: white;
    background-color: rgb(180, 0, 0);
    border-radius: 25%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.ver-mas-notificaciones {
    font-weight: bold;
    text-align: center;
}

/* ====================================================
        Personalización de elementos
==================================================== */

.bg-red-polygon {
    padding-bottom: 130px !important;
    background-image: url("/img/recursos/backgrounds/red_polygon2.png");
    background-repeat: no-repeat;
}

.info-card {
    -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    color: #585757;
    text-align: center;
    padding-bottom: 5px;
}

.transicion-max-width {
    transition: max-width 0.4s;
    transition-timing-function: ease-in;
}

.transicion-padding {
    transition: padding 0.4s;
    transition-timing-function: ease-in;
}

.transicion-opacity {
    transition: opacity 0.9s;
    transition-timing-function: ease-in;
}

/* ********************************
        Mensajes
******************************** */

.mensaje-container {
    width: 18%;
    height: 70px;
    left: 78%;
    top: 250px;
    background-color: #ffffff;
    position: fixed;
    border: 1px solid #a7a7a7;
    box-shadow: 7px 9px 17px -8px rgba(0, 0, 0, 0.75);
    z-index: 9999;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.mensaje-container .icono-mensaje {
    background-size: 100%;
    background-position-y: 56%;
}

.mensaje-container .texto-mensaje {
    font-size: 17px;
    color: #b30808e8;
}

@keyframes mostrar-mensaje {
    0% {
        transform: skew(-53deg) translateX(200%);
        opacity: 0;
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: skew(0deg) translateX(30px);
    }
    70% {
        transform: skew(-5deg);
        opacity: 1;
    }
    80% {
        transform: skew(20deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes esconder-mensaje {
    30% {
        transform: skew(0deg);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: skew(-20deg) translate(200%);
        opacity: 0;
    }
}

/* **********************************************
        Elementos de espera de ejecucución
********************************************** */

.loader-wrapper {
    height: 65%;
}

.loader-full-page {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0000005c;
    background-image: linear-gradient(315deg, #0000005c 0%, #00000041 74%);
    z-index: 1000;
}

.loader-full-page .loader-text {
    width: 100%;
    position: absolute;
    top: 1rem;
    color: #c01d1a;
    font-size: 35px;
    left: 40%;
    z-index: 1000;
    left: 3rem;
}

.loader1 {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid rgba(167, 167, 167, 0.979);
    border-top: 5px solid #990000;
    border-left: 5px solid #990000;
    border-radius: 50%;
    animation-name: girar1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1000;
}

.loader2 {
    position: absolute;
    top: 76px;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(65, 65, 65, 0);
    border-top: 5px solid #c01d1a;
    border-right: 5px solid #c01d1a;
    border-radius: 50%;
    animation-name: girar2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1000;
}

.loader-full-page .loader-container {
    position: relative;
    top: 14%;
    background-color: #ffffffeb;
    padding: 110px 136px;
    z-index: 999;
    border-radius: 6%;
}

.loader-full-page .loader1 {
    position: relative;
    width: 175px;
    height: 175px;
    border: 10px solid rgba(167, 167, 167, 0.979);
    border-top: 10px solid #990000;
    border-left: 10px solid #990000;
    border-radius: 50%;
    animation-name: girar1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loader-full-page .loader2 {
    position: absolute;
    top: 34%;
    right: 36%;
    width: 129px;
    height: 129px;
    border: 10px solid rgba(65, 65, 65, 0);
    border-top: 10px solid #c01d1a;
    border-right: 10px solid #c01d1a;
    border-radius: 50%;
    animation-name: girar2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes girar2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* FOOTER */

.footer {
    width: 101.6%;
    position: relative;
    right: 1rem;
    top: 1rem;
    margin-top: 8rem;
}

.footer-img-container {
    overflow: hidden;
    height: 10rem;
}

.footer-img-container .footer-img {
    width: 100%;
    background-image: url("../../img/facultad.png");
    background-color: #e6e6e6;
    background-attachment: fixed;
    background-position: top;
    height: 10rem;
    filter: grayscale(25%);
    background-size: cover;
    background-repeat: no-repeat;
}

.copyrigth {
    color: white;
    text-align: center;
    justify-content: center;
    padding: 1%;
    background: linear-gradient(176deg, #990000 45%, rgba(153, 0, 0, 1) 100%);
    font-size: medium;
}

.linea-footer {
    width: 100%;
    height: 2rem;
    background-color: #990000;
}

/* **********************************************
        Subir una imagen
********************************************** */

.file-upload {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.file-upload-wrap {
    border: 2px dashed #af0a0a;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.file-dropping,
.file-upload-wrap:hover {
    background-color: #af0a0ada;
    border: 2px dashed #ffffff;
}

.file-dropping,
.file-upload-wrap:hover .drag-text h4 {
    color: #ffffff;
}

.file-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h4 {
    font-weight: 50;
    text-transform: uppercase;
    color: #af0a0a;
    padding: 20px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-file {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 3px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
}

.remove-file:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-file:active {
    border: 0;
    transition: all 0.2s ease;
}

/* **********************************************
        Modal info
********************************************** */

.imagen-perfil-modal {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -72px;
    width: 130px;
    height: 130px;
    max-width: 130px;
    max-height: 130px;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    background-image: url("/img/fotos/default.jpg");
    background-size: cover;
}

/* **********************************************
        TABS DE NAVEGACIÓN
********************************************** */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #aa1816;
    background-color: #ffffff00;
    border-color: #aa1816 #aa1816 #fff #aa1816;
    font-weight: bold;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
    border-color: #e6e5e1 #e6e5e1 rgba(255, 255, 255, 0) #e6e5e1;
    margin-left: 1rem;
    transition: border-color ease-out 0.5s, background-color ease-out 0.2s;
    color: #585858;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link {
    background-color: #6d6d6d28;
    color: #aa1816;
    border-color: #aa1816 #aa1816 #fff #aa1816;
}

.nav-tabs {
    border-bottom: 1px solid #aa1816;
}

/* **********************************************
        CARTAS DE INFORMACIÓN PARA LOS REPORTES
********************************************** */

.card-info {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid rgb(214, 214, 214);
    border-color: #aa1816;
}

.border-info-card {
    border-left: 5px solid #aa1816 !important;
}

/* .card-info {
    -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    color: #585757;
    width: 19%;
    height: 6rem;
    background-color: #fff;
    border-left: 5px solid rgb(214, 214, 214);
    border-color: #aa1816;
    display: flex;
} */

.card-info .icon-info {
    width: 45%;
    height: auto;
    color: #aa1816;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info .icon-info .icon-inner {
    height: 75%;
    border-right: 1px solid #cccccc;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info .content-info {
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.card-info .texto-info {
    font-size: 14px;
    color: #5f5f5f;
    position: relative;
    top: 8px;
}

.card-info .numero-info {
    font-weight: bold;
    font-size: 23px;
    color: #222;
}

/* **********************************************
        SECCIÓN DE GRÁFICOS Y REPORTES
********************************************** */

/* =======================================
Tabla reporte anual
========================================== */

/* .tabla-reporte-anual thead {
    color: #26a0fc !important;
} */

.tabla-reporte-anual tbody tr {
    transition: background 0.5s;
}

.tabla-reporte-anual tbody tr:hover {
    background-color: #26a0fc79;
    color: #000000;
}

.titulo-reporte {
    color: #990000e0;
}

.tabla-reporte-anual .personal-col {
    background-color: #ffffff;
    max-width: 200px;
    text-align: center;
    justify-content: center;
    padding-top: 4rem;
}

.tabla-reporte-anual .img-personal {
    width: 60%;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.tabla-reporte-anual .cant-participaciones {
    text-align: center;
    justify-content: center;
    border-right: 1px solid #d5d5d5;
}

.tabla-reporte-anual .nombre-personal {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: #434343;
    font-weight: bold;
}

.tabla-reporte-anual .jornada-personal {
    text-align: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(92, 92, 92);
}

.resultado-reporte-anio .resultado-anio {
    font-size: 22px;
    color: #990000;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultado-reporte-anio .resultado-anio:focus {
    box-shadow: 0px 0px rgba(255, 255, 255, 0);
}

.resultado-reporte-anio .separador-fila {
    border-bottom: 2px solid rgb(185, 185, 185);
}
