/*
    DEMO STYLE
*/

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    Barra navegación de lado
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

/* Barra de lado desplegada */

#sidebar {
    min-width: 230px;
    max-width: 230px;
    color: #fff;
    transition: all 0.3s;
}

/* Barra de lado sin desplegar */

#sidebar.active {
    min-width: 130px;
    max-width: 130px;
    text-align: center;
}

/* Eliminar formato de elementos */

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

/* Cambiar la forma en la que se ven los componentes cuando no está desplegada */

#sidebar.active .sidebar-header strong {
    display: block;
}

/*----------------------------------------
 Formato de letras con menú sin desplegar
 ----------------------------------------*/

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.9em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

/* Encabezado de la barra de lado desplegada*/

#sidebar .sidebar-header {
    padding: 20px;
}

/* Encabezado de la barra de lado sin desplegar */

#sidebar .sidebar-header .short {
    display: none;
    font-size: 1.8em;
}

/* Linea separadora */

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #d4d4d4;*/
}

/* Items del navbar */

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* Cambio de color en items del navbar */

#sidebar ul li a:hover {
    color: #e3302d;
    background: #fff;
}

/* Felcha del desplegable */

#sidebar ul li a i {
    margin-right: 10px;
}

/* Desplegar barra lateral */

a[data-toggle="collapse"] {
    position: relative;
}

/* Animación y cambio en el menú sin desplegar */

.link-drop-sidebar::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Subitems de menú */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #680c0d;
}

.logo {
    max-width: 60px;
    margin-left: 10px;
    padding-left: 5px;
}

/* ---------------------------------------------------
Estilo del body
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    transition: all 0.3s;
}

/* -------------------------------------------------------
    Letras de SIGAB de la barra de información de arriba
---------------------------------------------------------- */

.texto-SIGAB {
    font-weight: 700;
    font-size: 25px;
    color: #0151a0;
    cursor: default;
}

.logo-una-horizontal {
    max-width: 180px !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES - Responsive
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
